<div class="row">
    <event class="col-md-6" data-ng-class="{'col-md-offset-6': $index % 2 == 1}" data-ng-repeat="event in $ctrl.events" event="event"></event>
</div>
<div class="row">
    <form name="addEvent" class="col-md-12" data-ng-submit="$ctrl.addEvent()">
        <div class="form-group">
            <label class="sr-only" for="addEventDescriptionTextField">Event Description</label>
            <div class="input-group">
                <input id="addEventDescriptionTextField" type="text" class="form-control"
                       data-ng-model="$ctrl.newEventText" placeholder="Description..." required/>
                <div class="input-group-btn">
                    <input id="addEventSubmitButton" type="submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>