<div class="row">
    <event class="col-md-6" data-ng-class="{ 'col-md-offset-6': $index % 2 == 1 }" data-ng-repeat="event in $ctrl.events" event="event"></event>
</div>
<div class="row">
    <form name="$ctrl.addEventForm" class="col-md-8 col-md-offset-2" data-ng-submit="$ctrl.addEventForm.$valid && $ctrl.addEvent()" novalidate>

        <div id="descriptionInput" class="form-group" data-ng-class="{ 'has-error': $ctrl.hasError('description') }">
            <label for="description" class="sr-only">Event Description</label>
            <textarea id="description" name="description" class="form-control" data-ng-model="$ctrl.newEvent.description"
                      placeholder="Description..." required aria-describedby="descriptionHelp" data-msd-elastic="\n"></textarea>
            <span id="descriptionHelp" class="help-block"
                  data-ng-show="$ctrl.hasError('description') && $ctrl.addEventForm.description.$error.required">An event description is required.</span>
        </div>

        <div class="form-group clearfix">
            <input name="submit" type="submit" class="btn btn-primary pull-right"/>
        </div>

    </form>
</div>